body {
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    height: 600px;
    width: 600px;
    border: solid 2px black;
    border-radius: 2px;
    background-color: white;
}